<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <nav class="navbar">
        <ul>
            <li class="nav-el"><a href="/">Home</a></li>
            <li class="nav-el"><a href="/dashboard">Dashboard</a></li>
            <li class="nav-el"><a href="/login">Login</a></li>
            <li class="nav-el"><a href="#" id="logout-link">Logout</a></li>
        </ul>
    </nav>
    <header class="hero">
        Tech Blog
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        Thanks for visiting The Tech Blog
    </footer>

</body>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

</html>