<div class="card">
    <h2 class="card-header">
        Login to TechBlog!
    </h2>
    <form class="login-form">
        <div>
            <label class="form-label" for="username-login">Username:</label>
            <input type="text" id="username-login" />
        </div>
        <div>
            <label class="form-label" for="password-login">Password:</label>
            <input type="text" id="password-login" />
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <a class="signup-link" href="/signup">Not registered? Sign up here</a>
    </form>
</div>