<div class="card">
    <h2 class="card-header">
        Signup to TechBlog!
    </h2>
    <form class="signup-form">
        <div>
            <label class="form-label" for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label class="form-label" for="password-signup">Password:</label>
            <input type="text" id="password-signup" />
        </div>
        <div>
            <button type="submit">Sign up!</button>
        </div>
        <a class="signup-link" href="/login">Already registered? Log in instead</a>
    </form>
</div>